git+https://github.com/MKN-BOTZ/pyrogram 
tgcrypto
aiofiles 
aiohttp
requests
bs4
pymongo
dnspython
marshmallow
umongo
motor
youtube-search-python
youtube-search
yt-dlp
cinemagoer
opencv-python-headless
googletrans
telegraph
python-dotenv
gTTS
Pillow
psutil
NumPy
wheel
ujson
wget
pytz
